---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home page">
  <main>
    <h1>This is the home page</h1>

    <pre>
{JSON.stringify(import.meta.env, null, 2)}
    </pre>
  </main>
</Layout>
